.table img {
    max-width: 10%;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.table {
    text-align: center;
}

.table img:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}